page-home {


    ion-row{

        justify-content: center;

    }

    h5{
        text-align: right;
        color: red;
        
    }

    h2{
        text-align: right;

    }


    div{
        align-items: center;

    }
}
